@charset "UTF-8";

@font-face {
    font-family: "idroid";
    src: url('fontes/idroid.otf') format('opentype');
}
@font-face {
    font-family: "Bebas Neue";
    src: url('fontes/BebasNeue-Regular.ttf') format('truetype');
}

body {
    background-color:#EBE5C5;
    margin: 0px;
    background-attachment: fixed;

}
header {
    background-image: linear-gradient(to bottom, #2A9C5E, #0E532C, #063119 );
    padding: 25px;
    margin: 0px;
}  
h1 {
    color: white;
    font-family: 'Bebas Neue', serif;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    font-size: 45px;
    width: auto;
    
}
.subtitulo {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px black;
    font-size: 20px;
    width: auto;
}
nav {
    padding: 10px;
    background-color: #063119;
}
.aa {
    color: #84e4af;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bolder;
    padding: 10px;

}
.aa:hover {
    color: #063119;
    background-color: #2A9C5E;
    transition: 0.5s;
    border-radius: 4px;
    padding: 10px;
}
p {
    text-indent: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;


}
main {
    background-color: white;
    box-shadow: 0px 2px 6px #00000086;;
    border-radius: 0px 0px 4px 4px;
    padding: 10px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
}
.android {
    font-family: 'idroid', serif;
    color: #063119;
    text-shadow: none;
    font-weight: 400;
    text-align: start;
    font-size: 30px;
    text-indent: 10px;

}
.link {
    color: #063119;
    font-weight: bolder;
}
.subandroid {
    color: #118344;
    background-image: linear-gradient(to right, #18be6371, #2a9c5d00 );
    font-family:  'idroid', serif;
    font-size: 20px;
    padding: 1px;
    text-indent: 5px;
    font-weight: normal;
}  

img {
    display: block;
    margin: auto;
}
.linkname {
    background-color: #2a9c5d86;
    color: #0b3f22;
    padding: 2px;
    font-weight: bolder;
    text-decoration: none;
}
.linkname:hover {
    text-decoration:underline
}
.video {
    display: block;
    margin: auto;
    background-color: #063119;
    text-align: center;
    height: auto;
    padding: 20px;
    
}
iframe {
    max-width:400px;
    min-width: 250px;
    max-height: 500px;
    min-height: 250px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.486);

}
.final {
    background-color:#10e06e80;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.459);
    border-radius: 10px;
    padding-bottom: 10px;
}
h3 {
    background-color: #063119;
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}
ol {
    display: flex;
    box-sizing: content-box;
}
.rodapé {
    text-align: center;
    background-color: #0b3f22;
    margin: 30px 0px 0px 0px;
    padding: 7px;
    color: white;
    font-weight: normal;
    font-size: 15px;

}